@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

nav ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: -webkit-border-box;
  box-sizing: -moz-border-box;
  box-sizing: -ms-border-box; }
  *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: -webkit-border-box;
    box-sizing: -moz-border-box;
    box-sizing: -ms-border-box; }
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: -webkit-border-box;
    box-sizing: -moz-border-box;
    box-sizing: -ms-border-box; }

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0; }

.line-seperator {
  margin: 0 8em; }

hr {
  opacity: 0.5; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ff4d4d;
  opacity: 0.5;
  font-family: "Raleway", sans-serif;
  font-weight: 500; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ff4d4d;
  opacity: 0.5;
  font-family: "Raleway", sans-serif;
  font-weight: 500; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ff4d4d;
  opacity: 0.5;
  font-family: "Raleway", sans-serif;
  font-weight: 500; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ff4d4d;
  opacity: 0.5;
  font-family: "Raleway", sans-serif;
  font-weight: 500; }

input:focus {
  color: #EA2027;
  font-weight: 300; }

.wrapper {
  max-width: 1204px;
  margin: 0 auto; }

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: 750px;
    margin: 0 auto; } }
@media screen and (max-width: 600px) {
  .wrapper {
    max-width: 500px;
    margin: 0 auto; } }
@media screen and (max-width: 500px) {
  .wrapper {
    max-width: 400px;
    margin: 0 auto; } }
@media screen and (max-width: 400px) {
  .wrapper {
    max-width: 300px;
    margin: 0 auto; } }
    /***************************************************************
------------------------ Header Section ------------------------
****************************************************************/
.header {
  background-color: #EA2027;
  width: 100%;
  height: 12em; }
  .header .brand-logo {
    padding: 3em 0;
    float: left; }
    .header .brand-logo a {
      color: #fff;
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      text-decoration: none; }
      .header .brand-logo a span {
        color: #fff;
        font-size: calc(16px + 6 * ((300vw - 320px) / 680));
        border-radius: 50px;
        text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); }
  .header .social-list {
    float: right;
    margin-top: 4.5em; }
    .header .social-list ul {
      list-style-type: none;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap; }
      .header .social-list ul li {
        margin-right: 10px; }
        .header .social-list ul li a {
          color: #EA2027;
          background-color: #fff;
          padding: 10px 20px;
          width: 50px;
          height: 50px;
          display: block;
          line-height: 50px;
          text-align: center;
          -moz-transition: 0.25s;
          -o-transition: 0.25s;
          -webkit-transition: 0.25s;
          transition: 0.25s; }
          .header .social-list ul li a i {
            font-size: 17px; }
          .header .social-list ul li a:hover {
            background-color: #EA2027;
            color: #fff;
            box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
            -moz-transition: 0.25s;
            -o-transition: 0.25s;
            -webkit-transition: 0.25s;
            transition: 0.25s; }

    /***************************************************************
-------------------------- Search Bar --------------------------
****************************************************************/
.cse-search-box {
  max-width: 1124px;
  margin: 0 auto;
  background-color: #ff4d4d;
  height: 13em;
  transform: translate(0%, -30%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }
  .cse-search-box .cse-title {
    padding: 1em 0; }
    .cse-search-box .cse-title h2 {
      color: #fff;
      font-size: 20px;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 700;
      text-align: center; }
    .cse-search-box .cse-title p {
      color: #fff;
      font-size: 14px;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 300;
      text-align: center;
      padding-top: 5px; }
  .cse-search-box .cse-search {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center; }
    .cse-search-box .cse-search #search {
      position: relative;
      padding-top: 0;
      padding-right: 1em; }
      .cse-search-box .cse-search #search input,
      .cse-search-box .cse-search #search .ac {
        line-height: 20px;
        font-size: 20px;
        font-family: "Karla", sans-serif;
        font-weight: normal;
        letter-spacing: 0em; }
      .cse-search-box .cse-search #search input {
        border: 0px;
        padding: 15px;
        padding-right: 100px;
        width: 350px;
        display: block;
        position: relative;
        transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1); }
        .cse-search-box .cse-search #search input:focus {
          outline: none; }
          .cse-search-box .cse-search #search input:focus + button {
            right: -20px; }
      .cse-search-box .cse-search #search .ac {
        z-index: 1;
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
        /* margin-top: 1px; */
        opacity: 0.3;
        pointer-events: none;
        transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1) all; }
        .cse-search-box .cse-search #search .ac.ac-hidden {
          opacity: 0; }
      .cse-search-box .cse-search #search button {
        cursor: pointer;
        font-family: "Karla", sans-serif;
        font-size: 16px;
        color: #fff;
        background: #EA2027;
        border: 0px;
        padding: 10px 30px;
        line-height: 20px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(25%, -50%);
        overflow: hidden;
        transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1); }
        .cse-search-box .cse-search #search button.emoji-bank:after {
          content: "≡ƒÆ░"; }
        .cse-search-box .cse-search #search button.emoji-pizza:after {
          content: "≡ƒìò"; }
        .cse-search-box .cse-search #search button.emoji:before {
          left: -100%; }
        .cse-search-box .cse-search #search button.emoji:after {
          opacity: 1;
          left: 0; }
        .cse-search-box .cse-search #search button:after, .cse-search-box .cse-search #search button:before {
          position: absolute;
          background: #EA2027;
          color: #fff;
          width: 100%;
          height: 100%;
          top: 0;
          line-height: 40px;
          transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1) all;
          opacity: 0; }
        .cse-search-box .cse-search #search button:before {
          content: "Search";
          opacity: 1;
          left: 0; }
        .cse-search-box .cse-search #search button:after {
          content: "";
          left: 100%;
          font-size: 21px;
          line-height: 40px; }
        .cse-search-box .cse-search #search button:hover:after, .cse-search-box .cse-search #search button:hover:before {
          background: #ff4d4d; }
  .cse-search-box .cse-counter {
    margin-top: 2em; }
    .cse-search-box .cse-counter ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style-type: none; }
      .cse-search-box .cse-counter ul li {
        margin-right: 5px; }
        .cse-search-box .cse-counter ul li a {
          color: #fff;
          background-color: #EA2027;
          border-radius: 50px;
          text-decoration: none;
          position: relative;
          display: block;
          width: 35px;
          height: 35px;
          text-align: center;
          line-height: 35px;
          font-family: "Raleway", sans-serif;
          font-weight: 600;
          font-style: normal;
          font-size: 16px;
          -moz-transition: background 0.25s ease;
          -o-transition: background 0.25s ease;
          -webkit-transition: background 0.25s ease;
          transition: background 0.25s ease; }
          .cse-search-box .cse-counter ul li a:hover {
            background-color: #fff;
            color: #EA2027;
            -moz-transition: background 0.25s ease;
            -o-transition: background 0.25s ease;
            -webkit-transition: background 0.25s ease;
            transition: background 0.25s ease; }

    /***************************************************************
------------------------ Heading Section -----------------------
****************************************************************/
.cse-heading {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 2em; }
  .cse-heading .heading {
    padding-bottom: 1.5em; }
    .cse-heading .heading h2 {
      font-size: 2em;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 700;
      color: #444;
      position: relative;
      display: block;
      line-height: 1; }
  .cse-heading .paragraph {
    max-width: 920px;
    margin: 0 auto; }
    .cse-heading .paragraph h1,
    .cse-heading .paragraph h2 {
      font-size: 2em;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 700;
      color: #444;
      position: relative;
      display: block;
      line-height: 1;
      text-align: center;
      padding-bottom: 10px; }
    .cse-heading .paragraph h2 {
      margin-top: 2em;
      margin-bottom: 10px; }
    .cse-heading .paragraph p {
      font-size: 1.2em;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 300;
      color: #444;
      position: relative;
      display: block;
      line-height: 1.5;
      padding-bottom: .8em; }
    .cse-heading .paragraph span {
      font-size: 1.2em;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 300;
      color: #444;
      position: relative;
      display: block;
      line-height: 1.5;
      padding-bottom: .8em; }
    .cse-heading .paragraph ul li {
      text-align: left;
      padding-bottom: 10px;
      font-size: 1.2em;
      font-family: "Raleway", sans-serif; }
      .cse-heading .paragraph ul li span {
        font-size: 1em; }

    /***************************************************************
-------------------------- Link Section ------------------------
****************************************************************/
.cse-link {
  margin: 0;
  padding: 2em 0; }
  .cse-link .links {
    margin-bottom: 2em;
    max-width: 920px;
    margin: 0 auto; }
    .cse-link .links ul {
      list-style-type: none;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start; }
      .cse-link .links ul li {
        width: 25%;
        text-align: center; }
        .cse-link .links ul li a {
          color: #00a8ff;
          font-size: 20px;
          font-family: "Raleway", sans-serif;
          font-weight: 700;
          font-style: normal;
          text-decoration: none;
          letter-spacing: 1;
          position: relative;
          display: block;
          padding-bottom: 1em; }
          .cse-link .links ul li a:hover {
            text-decoration: underline; }

    /***************************************************************
-------------------------- Footer Section ----------------------
****************************************************************/
.footer {
  background-color: #EA2027;
  padding: 2em 0;
  margin: 0;
  -moz-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease; }
  .footer .footer-links {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .footer .footer-links .links-list {
      margin-right: 2em; }
      .footer .footer-links .links-list h2 {
        color: #fff;
        font-size: 1.2em;
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 700; }
      .footer .footer-links .links-list ul {
        list-style-type: none;
        padding-top: 1em; }
        .footer .footer-links .links-list ul li {
          padding-bottom: 10px; }
          .footer .footer-links .links-list ul li a {
            text-decoration: none;
            color: #fff;
            font-family: "Raleway", sans-serif;
            font-size: 15px;
            font-weight: 300;
            font-style: normal;
            position: relative;
            display: block;
            opacity: 0.7; }
            .footer .footer-links .links-list ul li a:hover {
              text-decoration: underline; }
  .footer .copyright {
    padding-top: 10px;
    text-align: center;
    width: 100%; }
    .footer .copyright p {
      color: #fff;
      font-size: 16px;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-style: normal;
      position: relative;
      display: block; }
      .footer .copyright p a {
        color: #fff;
        text-decoration: none; }
        .footer .copyright p a:hover {
          text-decoration: underline; }
  .footer .social-list {
    text-align: center;
    padding-top: 10px; }
    .footer .social-list ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style-type: none; }
      .footer .social-list ul li {
        margin-right: 15px; }
        .footer .social-list ul li a {
          text-decoration: none;
          color: #fff;
          font-size: 20px;
          background-color: transparent;
          border-radius: 50px;
          border: 1px solid white;
          width: 40px;
          height: 40px;
          line-height: 40px;
          position: relative;
          display: block;
          text-align: center; }

/* Hover background colors */
.color-twitter {
  background-color: #00aced !important; }

.color-facebook {
  background-color: #3b5998 !important; }

.color-pinterest {
  background-color: #cc2127 !important; }

.color-googleplus {
  background-color: #dd4b39 !important; }

.color-dribbble {
  background-color: #ea4c89 !important; }

.color-instagram {
  background-color: #417399 !important; }

.color-twitter,
.color-facebook,
.color-pinterest,
.color-googleplus,
.color-dribbble,
.color-instagram {
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in; }

.pagination {
  text-align: center;
  margin-bottom: 2em; }
  .pagination ol {
    list-style-type: none;
    padding-left: 2rem; }
  .pagination li {
    display: inline; }
  .pagination a {
    padding: 4px 10px;
    text-decoration: none;
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    color: #EA2027; }
    .pagination a:hover {
      background-color: #EA2027;
      color: #fff;
      border-radius: 50px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    .pagination a.is-active {
      background-color: #EA2027;
      border-radius: 100%;
      color: #fff;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    .pagination a .fa-angle-right {
      margin-left: 3px; }

.cse-form {
  padding: 0;
  margin: 3em 0 4em 0;
  width: 100%; }
  .cse-form .cse-body-panel {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .cse-form .cse-body-panel .cse-panel {
      background-color: #e74c3c;
      position: relative;
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      padding: 2em 2em;
      -webkit-border-radius: 0.3em;
      -moz-border-radius: 0.3em;
      -ms-border-radius: 0.3em;
      -o-border-radius: 0.3em;
      border-radius: 0.3em;
      width: 49%; }
      .cse-form .cse-body-panel .cse-panel:nth-child(1) {
        margin-right: 1em; }
      .cse-form .cse-body-panel .cse-panel:before, .cse-form .cse-body-panel .cse-panel:after {
        content: "";
        position: absolute;
        z-index: -1;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        top: 0;
        bottom: 0;
        left: 10px;
        right: 10px;
        -moz-border-radius: 100px / 10px;
        border-radius: 100px / 10px; }
      .cse-form .cse-body-panel .cse-panel h3 {
        color: #fff;
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-style: normal;
        position: relative;
        text-align: center;
        line-height: 1; }
      .cse-form .cse-body-panel .cse-panel .cse-mail {
        display: block; }
      .cse-form .cse-body-panel .cse-panel form {
        padding-top: 1em;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap; }
        .cse-form .cse-body-panel .cse-panel form .textarea {
          width: 100%; }
          .cse-form .cse-body-panel .cse-panel form .textarea textarea {
            width: 100%;
            clear: right;
            border: 1px solid rgba(255, 255, 255, 0.4);
            padding: 1em 1em;
            margin-bottom: 1em;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border-radius: 5px;
            resize: none;
            background-color: transparent; }
          .cse-form .cse-body-panel .cse-panel form .textarea ::-webkit-textarea-placeholder {
            /* Chrome/Opera/Safari */
            color: #fff;
            opacity: 0.5;
            font-family: "Raleway", sans-serif;
            font-weight: 500; }
          .cse-form .cse-body-panel .cse-panel form .textarea ::-moz-placeholder {
            /* Firefox 19+ */
            color: #fff;
            opacity: 0.5;
            font-family: "Raleway", sans-serif;
            font-weight: 500; }
          .cse-form .cse-body-panel .cse-panel form .textarea :-ms-input-placeholder {
            /* IE 10+ */
            color: #fff;
            opacity: 0.5;
            font-family: "Raleway", sans-serif;
            font-weight: 500; }
          .cse-form .cse-body-panel .cse-panel form .textarea :-moz-placeholder {
            /* Firefox 18- */
            color: #fff;
            opacity: 0.5;
            font-family: "Raleway", sans-serif;
            font-weight: 500; }
          .cse-form .cse-body-panel .cse-panel form .textarea textarea:focus {
            color: #fff;
            font-weight: 300; }
        .cse-form .cse-body-panel .cse-panel form .input-group {
          margin-right: 1.5em; }
          .cse-form .cse-body-panel .cse-panel form .input-group #name,
          .cse-form .cse-body-panel .cse-panel form .input-group #email {
            width: 105%; }
          .cse-form .cse-body-panel .cse-panel form .input-group .btn {
            background-color: #fff;
            color: #EA2027;
            position: relative;
            display: block;
            font-size: 18px;
            font-family: "Raleway", sans-serif;
            font-style: normal;
            font-weight: 600;
            border: none;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            border-radius: 50px;
            padding: 10px 20px;
            cursor: pointer; }
          .cse-form .cse-body-panel .cse-panel form .input-group input {
            width: 100%;
            border: 1px solid rgba(255, 255, 255, 0.4);
            padding: 1em 1em;
            margin-bottom: 1em;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            border-radius: 50px;
            background-color: transparent; }
          .cse-form .cse-body-panel .cse-panel form .input-group ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #fff;
            opacity: 0.5;
            font-family: "Raleway", sans-serif;
            font-weight: 500; }
          .cse-form .cse-body-panel .cse-panel form .input-group ::-moz-placeholder {
            /* Firefox 19+ */
            color: #fff;
            opacity: 0.5;
            font-family: "Raleway", sans-serif;
            font-weight: 500; }
          .cse-form .cse-body-panel .cse-panel form .input-group :-ms-input-placeholder {
            /* IE 10+ */
            color: #fff;
            opacity: 0.5;
            font-family: "Raleway", sans-serif;
            font-weight: 500; }
          .cse-form .cse-body-panel .cse-panel form .input-group :-moz-placeholder {
            /* Firefox 18- */
            color: #fff;
            opacity: 0.5;
            font-family: "Raleway", sans-serif;
            font-weight: 500; }
          .cse-form .cse-body-panel .cse-panel form .input-group input:focus {
            color: #fff;
            font-weight: 300; }

.cse-comment {
  padding: 2em 0;
  max-width: 700px;
  margin: 0 auto; }
  .cse-comment .reply-msg {
    padding-left: 2em; }
  .cse-comment .recieve-msg h4,
  .cse-comment .reply-msg h4 {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: relative;
    display: block;
    width: 100%; }
    .cse-comment .recieve-msg h4 span,
    .cse-comment .reply-msg h4 span {
      float: right;
      font-weight: 300;
      color: #444;
      font-size: 14px;
      text-transform: uppercase; }
    .cse-comment .recieve-msg h4 small,
    .cse-comment .reply-msg h4 small {
      font-size: 12px;
      font-weight: 300; }
  .cse-comment .recieve-msg p,
  .cse-comment .reply-msg p {
    padding-top: 1em;
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #444;
    position: relative;
    display: block;
    line-height: 1.2; }
  .cse-comment .recieve-msg .timepicker,
  .cse-comment .reply-msg .timepicker {
    font-weight: 600;
    font-size: 12px; }
  .cse-comment .recieve-msg .reply,
  .cse-comment .reply-msg .reply {
    text-align: right; }
    .cse-comment .recieve-msg .reply a,
    .cse-comment .reply-msg .reply a {
      color: #EA2027;
      font-size: 15px;
      font-family: "Raleway", sans-serif;
      font-weight: 600; }
  .cse-comment .comment-box {
    margin-top: 2em;
    width: 100%; }
    .cse-comment .comment-box .comment-block {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%; }
      .cse-comment .comment-box .comment-block .comment-btn {
        float: right; }
        .cse-comment .comment-box .comment-block .comment-btn span {
          font-size: 12px;
          font-weight: 300; }
        .cse-comment .comment-box .comment-block .comment-btn select {
          padding: 3px 6px;
          border: 1px solid #ccc; }
          .cse-comment .comment-box .comment-block .comment-btn select option {
            background-color: transparent; }
  .cse-comment .comment-message {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .cse-comment .comment-message .image-post {
      width: 60px;
      margin-right: 1em; }
      .cse-comment .comment-message .image-post img {
        width: 100%; }
    .cse-comment .comment-message form {
      width: 89%; }
      .cse-comment .comment-message form textarea {
        width: 100%;
        resize: none;
        border: 1px solid #ddd;
        padding: 1em 1em; }
    .cse-comment .comment-message ::-webkit-textarea-placeholder {
      /* Chrome/Opera/Safari */
      color: #000;
      opacity: 0.5;
      font-family: "Raleway", sans-serif;
      font-weight: 500; }
    .cse-comment .comment-message ::-moz-placeholder {
      /* Firefox 19+ */
      color: #000;
      opacity: 0.5;
      font-family: "Raleway", sans-serif;
      font-weight: 500; }
    .cse-comment .comment-message :-ms-input-placeholder {
      /* IE 10+ */
      color: #000;
      opacity: 0.5;
      font-family: "Raleway", sans-serif;
      font-weight: 500; }
    .cse-comment .comment-message :-moz-placeholder {
      /* Firefox 18- */
      color: #000;
      opacity: 0.5;
      font-family: "Raleway", sans-serif;
      font-weight: 500; }
    .cse-comment .comment-message textarea:focus {
      color: #000;
      font-weight: 300; }
    .cse-comment .comment-message .comment-rd {
      margin: 10px 0 10px 80px;
      width: 500px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%; }
      .cse-comment .comment-message .comment-rd input {
        display: none; }
      .cse-comment .comment-message .comment-rd > div {
        margin-bottom: 10px; }
      .cse-comment .comment-message .comment-rd label div {
        width: 23px;
        height: 23px;
        display: inline-block;
        border: 2px solid #EA2027;
        text-align: center;
        line-height: 20px;
        margin-right: 6px;
        border-radius: 3px;
        cursor: pointer; }
      .cse-comment .comment-message .comment-rd label i {
        font-size: 16px;
        opacity: 0; }
      .cse-comment .comment-message .comment-rd label:hover div {
        background: #EA2027; }
      .cse-comment .comment-message .comment-rd input:checked + label i {
        opacity: 1;
        color: #fff; }
      .cse-comment .comment-message .comment-rd input:checked + label div {
        background: #EA2027; }
      .cse-comment .comment-message .comment-rd .post-btn .post {
        background-color: #4267b2;
        position: relative;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        border: none;
        color: #fff;
        padding: 4px 10px;
        cursor: pointer; }

@media only screen and (max-width: 767px) {
  .header .brand-logo {
    float: none;
    text-align: center; }
  .header .social-list {
    float: none;
    margin-top: 0; }
    .header .social-list ul {
      justify-content: center; }

  .cse-search-box {
    transform: translate(0%, 0%);
    height: auto;
    padding-bottom: 1em;
    margin-bottom: 2em; }
    .cse-search-box .cse-counter {
      margin-top: 2em; }
      .cse-search-box .cse-counter ul li {
        margin-bottom: 10px; }

  .footer {
    -moz-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease; }
    .footer .footer-links {
      display: block; }

  .cse-form .cse-body-panel {
    display: block;
    width: 100%;
    margin: 0; }
    .cse-form .cse-body-panel .cse-panel {
      width: 100%;
      margin-bottom: 2em;
      margin-right: 1em; } }

/*# sourceMappingURL=style.css.map */
