.blog-content {
  margin: 0;
  padding: em(80px) 0;
  position: relative;
  width: 100%;
  background-color: var(--white-color);

  @media screen and (max-width: 991px) {
    .row {
      flex-direction: column-reverse !important;
    }
  }

  .blog-left-content {
    width: 100%;
    position: relative;

    .blog-inner-content {
      .image-blog {
        position: relative;
        width: 100%;
        margin-top: 0;
        z-index: 0;
        overflow: hidden;

        @media screen and (max-width: 767px) {
          width: 100%;
          margin-top: 00px;
          margin-left: 0;
        }

        &:hover {
          .video-popup {
            transform: translate(-50%, -50%);
            @include transition(0.25s ease);
            opacity: 1;
          }
        }

        img {
          height: 100%;
          width: 100%;
        }

        .video-popup {
          @include position(absolute, 50%, null, null, 50%);
          transform: translate(-50%, 170%);
          background-color: var(--darking-color);
          width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          @include border-radius(100px);
          color: var(--white-color);
          text-decoration: none;
          @include transition(0.25s ease);
          opacity: 0;

          &:hover {
            background-color: var(--yellow-color);
          }
        }
      }

      .blog-text {
        margin-top: 20px;
        h2 {
          a {
            font-size: 30px;
            font-family: var(--bold);
            text-align: left;
            position: relative;
            text-transform: uppercase;
            font-style: italic;
            color: #222;
            display: block;
            margin-bottom: 6px;
            text-decoration: none;
            @include transition(0.25s ease);
            &:hover {
              color: var(--yellow-color);
              @include transition(0.25s ease);
            }
          }
        }

        .blog-link {
          margin-bottom: 20px;
          display: block;
          .link {
            a {
              color: #929395;
              text-decoration: none;
              @include transition(0.25s ease);

              &:hover {
                color: #222;
                @include transition(0.25s ease);
              }
            }
          }

          .line {
            position: relative;
            padding-right: 15px;
            padding-left: 15px;

            &:after {
              content: '';
              background-color: #929395;
              width: 2px;
              height: 80%;
              @include position(absolute, 50%, null, null, 50%);
              transform: translateY(-35%);
            }
          }
        }

        .text {
          p {
            font-size: 15px;
            font-family: var(--regular);
            font-weight: 400;
            color: #929395;
            text-align: left;
            position: relative;
            line-height: 26px;
          }
        }
      }
    }
  }

  .right-blog-content {
    .subhead {
      font-size: 30px;
      font-family: var(--bold);
      font-weight: bold;
      font-style: normal;
      text-transform: uppercase;
      position: relative;
      display: inline;
      color: #222;
      box-shadow: inset 0 -0.5em 0 #fff229;
    }
    .categories-blog {
      border: 1px solid #ebecec;
      padding: em(30px) em(40px);
      margin-bottom: 25px;

      ul {
        margin-top: 30px;
        display: block;
        list-style-type: none;

        li {
          margin-bottom: 12px;
          position: relative;
          padding-left: 30px;
          &:last-of-type {
            margin-bottom: 0;
          }
          &:before {
            content: '';
            height: .6px;
            width: 15px;
            @include position(absolute, 50%, null, null, 0);
            background-color: #929395;
          }
          a {
            color: #929395;
            font-size: 14px;
            font-family: var(--light);
            font-weight: lighter;
            position: relative;
            display: block;
            text-decoration: none;
            @include transition(0.25s ease);

            &:hover {
              color: #222;
              @include transition(0.25s ease);
            }
          }
        }
      }
    }

    .comment-blog {
      border: 1px solid #ebecec;
      padding: em(30px) em(40px);
      margin-bottom: 25px;
      ul {
        margin-top: 30px;
        display: block;
        list-style-type: none;

        li {
          margin-bottom: 12px;
          position: relative;
          padding-left: 30px;
          font-size: 14px;
          color: #929395;
          &:last-of-type {
            margin-bottom: 0;
          }
          &:before {
            content: '';
            height: 1px;
            width: 15px;
            @include position(absolute, 50%, null, null, 0);
            background-color: #929395;
          }
          a {
            color: #929395;
            font-size: 14px;
            font-family: var(--light);
            font-weight: lighter;
            position: relative;
            display: block;
            text-decoration: none;
            @include transition(0.25s ease);

            &:hover {
              color: #222;
              @include transition(0.25s ease);
            }
          }
        }
      }
    }

    .recent-blog {
      border: 1px solid #ebecec;
      padding: em(30px) em(40px);
      margin-bottom: 25px;
      ul {
        margin-top: 30px;
        display: block;
        list-style-type: none;

        li {
          margin-bottom: 12px;
          position: relative;
          padding-left: 30px;
          font-size: 14px;
          color: #929395;
          &:last-of-type {
            margin-bottom: 0;
          }
          &:before {
            content: '';
            height: 1px;
            width: 15px;
            @include position(absolute, 50%, null, null, 0);
            background-color: #929395;
          }
          a {
            color: #929395;
            font-size: 14px;
            font-family: var(--light);
            font-weight: lighter;
            position: relative;
            display: block;
            text-decoration: none;
            @include transition(0.25s ease);

            &:hover {
              color: #222;
              @include transition(0.25s ease);
            }
          }
        }
      }
    }

    .search-blog {
      color: #ffffff;
      border-color: #383a3e;
      background-color: #383a3e;
      padding: em(30px) em(40px);
      margin-bottom: 25px;

      .subhead {
        box-shadow: none;
        color: #fff;
        display: block;
        margin-bottom: 30px;
      }

      .form-inline {
        .form-group {
          background-color: #3e4145;
          padding: 0;
          .form-control {
            background-color: transparent;
            border: none;
            padding: 14px 20px;
            color: var(--white-color);
            @include border-radius(0);
            &:focus {
              outline: none;
              box-shadow: none;
              border: none;
            }
          }

          .btn {
            background: var(--yellow-color);
            border: none;
            padding: em(22px) em(30px);
            @include border-radius(0);
            position: relative;
            overflow: hidden;
            font-size: 13px;
            font-family: var(--bold);
            font-weight: bold;
            text-transform: uppercase;
            color: #383a3e;

            span {
              position: relative;
              z-index: 1;
            }

            &:before {
              content: '';
              width: 0%;
              height: 100%;
              background-color: rgba(255, 255, 255, 0.6);
              border-color: rgba(255, 255, 255, 0.6);
              @include transition(width 0.25s ease);
              @include position(absolute, 0, 0, 0, 0);
            }

            &:hover {
              color: #383a3e;
              &:before {
                @include transition(width 0.25s ease);
                width: 100%;
              }
            }
          }
        }
      }
    }

    .tags-blog {
      border: 1px solid #ebecec;
      padding: em(30px) em(40px);
      margin-bottom: 25px;

      ul {
        @include flexbox();
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        list-style-type: none;
        position: relative;
        margin-top: 30px;

        li {
          margin-right: 10px;
          &:last-of-type {
            margin-right: 0;
          }
          a {
            background-color: #f5f5f5;
            padding: em(12px) em(30px);
            @include border-radius(0);
            font-size: 14px;
            font-family: var(--regular);
            font-weight: 400;
            position: relative;
            color: #383a3e;
            text-decoration: none;
            @include transition(0.25s ease);

            &:hover {
              background-color: var(--yellow-color);
              @include transition(0.25s ease);
            }
          }
        }
      }
    }

    .compare-blog {
      border: 1px solid #ebecec;
      padding: em(30px) em(40px);
      margin-bottom: 25px;

      p {
        color: #929395;
        font-size: 14px;
        font-family: var(--light);
        font-style: italic;
        font-weight: lighter;
        position: relative;
        display: block;
        margin-top: 30px;
      }
    }
  }
}
